/*
 * jQuery FlexSlider v1.7
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* Browser Resets */
.flex-container a:active, .flexslider a:active {
	outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {
	width: 100%;
	margin: 0;
	padding: 0;
}
.flexslider .slides > li {
	display: none;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	width: 100%;
	display: block;
	height:auto;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}
/* FlexSlider Default Theme
*********************************/
.flexslider { 
	border-radius: 5px 5px 5px 5px;
    position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	zoom: 1;
}
.flexslider .slides {
	zoom: 1;
}
.flexslider .slides > li {
	position: relative;
}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {
	zoom: 1;
	position: relative;
}
/* Caption style */
/* IE rgba() hack */
.flex-caption {
	background: none;
-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
	zoom: 1;
}
.flex-caption {
	
	padding: 2%;
	position: absolute;
	left: 0;
	bottom: 0;
	
	
	
	font-size: 14px;
	line-height: 18px;
}
/* Direction Nav */
.flex-direction-nav
{ display:block;}

.flex-direction-nav li a {
	width: 52px;
	height: 52px;
	margin: -13px 0 0;
	display: block;
	position: absolute;
	top: 47%;
	cursor: pointer;
	text-indent: -9999px;
}

.flexslider:hover .flex-direction-nav
{ display:block;}

.flex-direction-nav li a.next {
	background: url(../images/right.png) no-repeat right center;
	width: 45px;
	height: 45px;
	display: block;
	position: absolute;
	cursor: pointer;
	right:0;
	text-indent: -9999px;
	outline:none;
	color:transparent;
}
.flex-direction-nav li a.prev {
	background: url(../images/left.png) no-repeat left center;
	width: 45px;
	height: 45px;
	display: block;
	position: absolute;
	left:0;
	cursor: pointer;
	text-indent: -9999px;
	outline:none;
	color:transparent;
}
.flex-direction-nav li a.disabled {
	opacity: .3;
	filter: alpha(opacity=30);
	cursor: default;
}
/* Control Nav */
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 30px;
	text-align: center;
}
.flex-control-nav li {
	margin: 0 0 0 5px;
	display: inline-block;
	zoom: 1;
*display: inline;
}
.flex-control-nav li:first-child {
	margin: 0;
}
.flex-control-nav li a {
	width: 15px;
	height: 15px;
	display: block;
	background: url(../images/bullet.png) no-repeat 0 0;
	cursor: pointer;
	text-indent: -9999px;
}
.flex-control-nav li a:hover, .flex-control-nav li a.active  {
	background: url(../images/bullet_active.png) no-repeat 0 0;
	cursor: pointer;
}

.flexslider ul.flex-direction-nav{
	display: block;
}
.flexslider:hover ul.flex-direction-nav{
	display: block;
}
