@media only screen and (max-width : 1199px){

}
@media only screen and (max-width : 991px){




}

@media only screen and (max-width : 768px){
	


}
@media only screen and (min-width:480px) and (max-width: 640px){
	header {
    background: rgba(0, 0, 0, 0.9);
    padding: 10px 0;
    position: inherit;
    top: 0;
    width: 100%;
    z-index: 99;
}
h2{
	font-size: 24px!important;
}
.menu-wrap{
	height:460px;

}
.menu-toggle{
	line-height: auto;
}
.logo img {
    margin-top: 20px;
    width: 30%;
}
.logo {
    float: left;
    width: 60%;
}
.logo img {
    margin-top: 10px;
}
.fixNav .logo {
    max-width: 40%;
}
.fixNav .menu-toggle{
	line-height: 15px !important;
}
.menu-toggle.menu-open {
    display: block;
    margin-top:25px;
}
.fixNAv .menu-toggle.menu-open {
    display: block;
    margin-top:10px;
}
.navbar {
    display: none;
}
.banner-txt {
    background: rgba(19, 20, 20, 0.9) none repeat scroll 0 0;
    border: 10px solid rgba(255, 255, 255, 0.1);
    left: 0;
    padding: 10px;
    position: inherit;
    text-align: center;
    top: 0;
    transform: none;
}
.banner-txt h1 {
    font-size: 20px;
}
.caps {
    color:  #b6821d;
    font-size: 1.6rem;
  }
  .anchor > img {
    display: inline-block !important;
    max-width: 25%;
}
#intro-video > h2 {
    display: none;
}
video {
    height: auto;
    margin: 0;
    width: 100%;
}
.slider-section, .slider-section2, .contents, .contents2{
	width: 100%;
}
.trainer-info {
    float: left;
    margin: 0 15px 30px;
    width: 45%;
}
.information {
    border-right: none;
    margin-top: 30px;
    padding-right: 20px;
    width: 100%;
}
.descriptions {
    margin: 0 50px 50px;
}
.price-panel {
    float: left;
    width: 50%;
}
#association-logo li {
    float: left;
    margin: 10px 20px;
    width: 26%;
}
.reg-content, .heading, .music-section, .music-txt, .contact-box {
    margin: 0 50px;
}
.gallery {
    display: inline-block;
    margin-top: 70px;
    overflow: hidden;
    text-align: center;
    width: 70%;
}
#contact_form {
    float: left;
    width: 55%;
}
.contact-details {
    float: right;
    overflow: hidden;
    width: 42%;
}
.main-heading {
    margin-top: 65px;
    text-align: center;
}
#contact_form {
    float: left;
    padding: 40px 10px !important;
    width: 55%;
}
.menu {
    background: #65c6bb none repeat scroll 0 0;
    bottom: 0;
    float: right !important;
  
    opacity: 0;
    overflow: auto;
    padding: 20px 25px 30px;
    position: absolute;
    right: 0 !important;
    left: auto !important;
    top: 0;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    visibility: hidden;
    width: 50%;
    z-index: 110;
}
}
@media only screen and (max-width : 480px){
header {
    background: rgba(0, 0, 0, 0.9);
    padding: 10px 0;
    position: inherit;
    top: 0;
    width: 100%;
    z-index: 99;
}
h2{
	font-size: 24px!important;
}
.menu-wrap{
	height:460px;

}
.menu-toggle{
	line-height: auto;
}
.logo img {
    margin-top: 20px;
    width: 30%;
}
.logo {
    float: left;
    width: 80%;
}
.logo img {
    margin-top: 10px;
}
.fixNav .logo {
    max-width: 40%;
}
.fixNav .menu-toggle{
	line-height: 15px !important;
}
.menu-toggle.menu-open {
    display: block;
    margin-top:25px;
}
.fixNAv .menu-toggle.menu-open {
    display: block;
    margin-top:10px;
}
.navbar {
    display: none;
}
.banner-txt {
    background: rgba(19, 20, 20, 0.9) none repeat scroll 0 0;
    border: 10px solid rgba(255, 255, 255, 0.1);
    left: 0;
    padding: 10px;
    position: inherit;
    text-align: center;
    top: 0;
    transform: none;
}
.banner-txt h1 {
    font-size: 20px;
}
.caps {
    color:  #b6821d;
    font-size: 1.6rem;
  }
  .anchor > img {
    display: inline-block !important;
    max-width: 50%;
}
.banner-txt h1 {
    color: #fff;
    font-size: 24px !important;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.banner-txt a {
		margin-bottom: 0px;
    padding: 10px 15px;

}
.slider-section, .slider-section2, .contents, .contents2{
	width: 100%;
}
.contents, .contents2{
    
    padding: 50px 30px;
  
}
#intro-video{
    padding-top: 0;
}
#intro-video > h2 {
    display: none;
}
video {
    height: auto;
    margin: 0;
    width: 100%;
}
.descriptions {
    margin: 0 30px 30px;
}
.trainer-info {
    margin: 10px 20px 20px;
}
.price-panel{
	margin:30px;
}
#association-logo li {
    float: left;
    margin: 10px 15px;
    width: 38%;
}
.input-group{
	display: block;
}
.information {
    border-right: none;
    margin-top: 30px;
    padding-right: 20px;
    width: 100%;
}
.contact-box .col-md-3 {
    padding-left: 0;
    padding-right: 0;
}
.main-heading {
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    margin-top: 60px;
    text-align: center;
}
.footer-logo img{
	max-width: 40%;
}
	

}

@media only screen and (max-width : 360px){
header {
    background: rgba(0, 0, 0, 0.9);
    padding: 10px 0;
    position: inherit;
    top: 0;
    width: 100%;
    z-index: 99;
}
h2{
	font-size: 24px!important;
}
.menu-wrap{
	height:460px;

}
.menu-toggle{
	line-height: auto;
}
.logo img {
    margin-top: 20px;
    width: 30%;
}
.logo {
    float: left;
    width: 80%;
}
.logo img {
    margin-top: 10px;
}
.fixNav .logo {
    max-width: 40%;
}
.fixNav .menu-toggle{
	line-height: 45px !important;
}
.menu-toggle.menu-open {
    display: block;
    margin-top:3px;
}
.navbar {
    display: none;
}
.banner-txt {
    background: rgba(19, 20, 20, 0.9) none repeat scroll 0 0;
    border: 10px solid rgba(255, 255, 255, 0.1);
    left: 0;
    padding: 10px;
    position: inherit;
    text-align: center;
    top: 0;
    transform: none;
}
.banner-txt h1 {
    font-size: 20px;
}
.caps {
    color:  #b6821d;
    font-size: 1.6rem;
  }
  .anchor > img {
    display: inline-block !important;
    max-width: 50%;
}
.banner-txt h1 {
    color: #fff;
    font-size: 24px !important;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.banner-txt a {
		margin-bottom: 0px;
    padding: 10px 15px;

}
.slider-section, .slider-section2, .contents, .contents2{
	width: 100%;
}
.contents, .contents2{
    
    padding: 50px 30px;
  
}
#intro-video > h2 {
    display: none;
}
video {
    height: auto;
    margin: 0;
}
.descriptions {
    margin: 0 30px 30px;
}
.trainer-info {
    margin: 10px 20px 20px;
}
.price-panel{
	margin:30px;
}
#association-logo li {
    float: left;
    margin: 10px 15px;
    width: 38%;
}
.input-group{
	display: block;
}
.information {
    border-right: none;
    margin-top: 30px;
    padding-right: 20px;
    width: 100%;
}
.contact-box .col-md-3 {
    padding-left: 0;
    padding-right: 0;
}
.main-heading {
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    margin-top: 60px;
    text-align: center;
}
.footer-logo img{
	max-width: 40%;
}
}


@media only screen and (max-width : 320px){

}