
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900);
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
html {
  font-size: 16px;
}
body{

	font-family: 'Roboto', sans-serif;

}
*{
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	color: #A9D463;
}
a, a:hover, a:focus, #svg-icon, img
{ outline:none;
	transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
  cursor: pointer;
 font-family: 'Montserrat', sans-serif;
text-decoration:none;
color:  #dbab00;
}
a:hover{ color: #bce14b !important; }
p{
	font-family: 'Roboto', sans-serif;
	color:#7d7c7c;
	line-height:26px;
  margin:0 0 15px !important;
}
img{
	max-width: 100%;
	height: auto;
}
hr{
	margin:30px 0px;
	}
h1,h2,h3,h4,h5{
  font-family: 'Roboto', sans-serif;
	
}
h1{
	font-family: 'Permanent Marker', cursive;
	}

h1{
	color: #fff!important; display: inline-block;
	
}
body h2{
    font-size: 32px;
    letter-spacing: 3px;
    margin:0 0 20px;
    color:#029E73;
    position: relative;

}
/*h2:before { position: absolute; top:110%; content:'';background: #7EE064;  height: 4px; width:40px; left: 0; z-index: 99;}*/
h3{ font-size: 20px !important; font-weight: 300;
	font-size: 1.6rem;
	color: #484848;
	margin: 0;
}
span{

	font-weight: 400;
}


.breadcrumb-section {
    background: #eee;
    padding: 15px 0;
}	
.overlay .col-md-12{
  text-align: center;
}
.breadcrumb {
 	background: none;
    list-style: outside none none;
    margin-bottom: 0px;
  background: rgba(0,0,0,0.4);
  padding:10px 20px;
  border-radius: 8px;
  display:inline-block;
    text-align: center;
}
.breadcrumb ol li{
	float: left;
}
ul.breadcrumb li a {
	color: #fff;
}
.breadcrumb a:hover {
	color: #818285;
	transition: all 0.4s ease 0s;
}
.breadcrumb  .active {
    color: #aaa;
}
.heading-intro {
    padding: 0 189px;
}

/* Header Css */
.bg-holder {
    position: relative;
}
header {
    padding: 10px 0 100px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
      background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0;
/*    background: rgba(19,20,24,0.7);*/
}
.logo{
	max-width: 120px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 999;
  transition: all 0.4s ease-in-out 0s;
}

.navbar-nav, .navbar-header { float: none; text-align: center;}
.navbar-nav { position: relative; margin-top: 20px;}
.navbar{ margin-bottom: 0; }
.navbar ul li:nth-of-type(4) { margin-left: 90px; }
.navbar ul li:nth-of-type(3) { margin-right: 90px; }
.nav li{
    float:none;
    display: inline-block;
    vertical-align: middle;
    width:120px;

}
.nav > li > a > img {
    max-width: 100%;
}
.nav li.last-child{
    padding-right: 0;
}
.nav li a {
    color: #029E73;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    padding:0;
    position: relative;
    padding: 6px 0;
}
.nav li a:hover, .nav a.active{
    color:#c6ed4f;
    background: #029E73; 
    border-radius: 4px;
}



.menu-toggle.menu-open {
    display: none;
}
.menu {
    background: #099671 none repeat scroll 0 0 !important;
    }
    .menu .main-menu li a { font-weight: bold; }
#pav-mainnav{
    transition: all 0.4s ease-in-out 0s;

}
.fixNav {
    background: rgba(255,255,255,0.9);
    position: fixed;
    top: 0;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
    z-index: 9;
	/*border-bottom:1px solid #ccc;*/
	padding:7px 0;
}

.fixNav .logo  {
    max-width: 80px;
    margin-top:10px;
}
.fixNav  .nav li a:hover,.fixNav  .nav a.active { }
.fixNav .logo h1{
	text-align:left;
}
.fixNav .navbar-nav { margin: 7px 0 0;}


/* Billboard Css */
.flexslider{ position: relative;}
.banner-txt{ position: absolute; top:50%; left: 50%; 
    transform: translate(-50%,-50%);
    text-align: center;  
      padding: 10px 15px;
}
.flex-nav-prev, .flex-nav-next { display: block; width: 90px; height: 40px; background: red; position: absolute;
    top: 50%;
    left:60px;
    background: url(../images/left-arrow.png) no-repeat top center;
    opacity: 0.6;
}
.flex-direction-nav li a{    width: 90px; height: 40px;  }
.flex-nav-prev:hover, .flex-nav-next:hover { opacity: 1; }
.flex-nav-next { right:60px; left:auto;  background: url(../images/right-arrow.png) no-repeat top center;}
.banner-txt h1{color: #fff; text-transform: capitalize; letter-spacing: 2px; font-size: 34px !important; display: inline-block; margin:0; text-shadow: 1px 1px 17px rgba(0,0,0,0.3)}
.decorated > span::before, .decorated > span::after { content: ''; position: absolute; top: 50%; border-bottom: 2px solid rgba(255,255,255,0.4); width:100px; margin: 0 20px; left:100%;}
.decorated > span::before { right: 100%; left:auto;}
.decorated span { display: block; position: relative; }
h1.lg-font{ font-size: 6em !important; display: block; }

/** intro video css **/
.cycling-image{ opacity: 0.3; margin-bottom: 20px; }
#intro-section {  background: url("../images/intro-bg.jpg") no-repeat fixed top center / cover;  padding:100px 0;}
#intro-section p{ font-size: 22px; color:#ddd; line-height: 34px; font-weight: 300; }
#intro-section h3{ color:#fff; margin-bottom: 10px; opacity: 0.8; font-size: 22px; }
#intro-section li{ color:#ccc; font-size: 18px; line-height: 30px; }
#intro-section a {
    margin-top: 20px;
    display: inline-block; font-weight: bold;
    border-bottom: 2px solid #eee;
}
.btn.btn-default.modal-btn {
    position: absolute;
    background: #029E73;
    color: #fff;
    border: 0;
    border-radius: 0;
}
#intro-section button { border:none; }
.video-widget iframe{ box-shadow: 3px 3px 30px rgba(0,0,0,0.3); }

/** slider cycle css **/
.slider-section{ width: 30%; float: left; }
.contents { padding: 50px 60px 30px 40px; width:70%; float: right;}
.contents > p, .contents2 > p {  font-size: 14px; line-height: 25px;}
.pdt-description { /*width: 70%; float: left;*/ text-align: center;}
/*.pdt-price { float: right; width: 30%; }*/
/*.pdt-price a { border:1px solid #ccc; padding: 5px 20px; border-radius: 26px; display: inline-block; color:#029E85; font-weight: bold; font-size: 14px;}*/
.pdt-title { font-size: 16px; color: #333; font-weight: bold;}
.fa.fa-angle-left.slick-arrow{ display: none!important; }
.fa.fa-angle-left.slick-arrow, .fa.fa-angle-right.slick-arrow {
    font-size: 26px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #A8BF49;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    z-index: 9;
    left: 0px;
    display: none;
    opacity: 0.8;
}
.fa.fa-angle-right.slick-arrow {
    right: 0px;
    left: auto;
    display: block;
}
.slick-dots {
    display: none !important;
}
/** slick slider css **/
.slick-slide { margin: 0px 20px;  }
.slick-slide img { width: 100%; }
.slick-prev:before, .slick-next:before { color: black; }
.slick-slide { transition: all ease-in-out .3s;  opacity: .3; }
.slick-active {  opacity: .8; }
.slick-current {  opacity: 1;   }


/** events section **/
#event-section { background: url(../images/bg-mountains.jpg) fixed no-repeat top center / cover; overflow:hidden; height: 500px; padding:100px 0; position: relative; }
#event-section p {
    font-size: 18px;
    line-height: 30px;
}
/* Footer Css */

footer {
    text-align: center;
     background:#2b804a;
       padding: 50px 0 30px;
       position: relative;
}
footer:before {

    background-image: url("../images/hero-smudge.png");
    background-position: top;
    background-repeat: repeat-x;
    position: absolute;
    top: -50px;
    width: 100%;
    height: 75px;
    content: '';
    z-index: 9;
    left:0;
    z-index: 999;

}
.footer-logo img{
  max-width: 17%;
  display: inline-block;
  z-index: 999;
  margin-bottom: 10px; position: relative;
}
.footer-contact li {
    line-height: 30px;
    display: inline-block;
    padding: 0 11px;
    color: rgba(255,255,255,0.9);
    font-weight: bold;
    font-size: 16px;
}
.social-icon{
  margin-top: 20px;
}
.social-icon p, .breadcrum-txt p{
  color: #9b9797;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
}
.social-icon li:first-child{
  margin-left: 0;
}
.social-icon li{
  display: inline-block;
  margin-left: 25px;
}
.social-icon li a{
  font-size: 20px;
  color: #eae8e8; 
}
.social-icon li a:hover{
  color :#ba0f0f;
}

.desclaimer > p {
    font-size: 15px;
    line-height: 24px;
    color:rgba(255,255,255,0.6);
}

/** about us page **/
.inner-banner.about{
    background: rgba(0, 0, 0, 0);
    padding-bottom: 200px; }
.thumbnail-section{ position: relative; }


/**** biking-trail-css*******/
.thumbnail-section { position: relative; }
.img-content{
    background: rgba(0, 0, 0, 0) url("../images/reg-bg.jpg") no-repeat fixed center top / cover ;
    padding-bottom: 100px;
}
.inner-page header { padding: 10px 0 50px;position: absolute; top: 0; width: 100%; z-index: 99; background:rgba(255,255,255,0.9);}
.intro {padding: 80px 0; background: #141519; color:#bebebe;}
.mt-content{ margin-bottom: 30px; }
.mt-package-cnt { background: #202930; padding: 30px;}
.intro-content p{ font-size: 16px; color:#aaa; line-height: 30px; }
.mt-content h3 { color: #fff; }
.tab-content { background: #212A31; padding: 20px 0;}
.tabbable-line .nav li {text-align: center; width: auto;}
.tabbable-line .nav li a{ border-radius: 0; padding: 5px 10px 10px 0; border:0; background: none; color:#aaa;}
.tabbable-line .nav li.active a, .tabbable-line .nav li a:hover { color:#1D965B; background: none; border:0; }
.tabbable-line .nav-tabs { border-bottom: 1px solid #666; }
.mt-enquiry { background: #374754; padding:20px; margin-top: 20px; }
.main-heading { color: rgb(255, 255, 255);
    margin-top: 180px;
      margin-bottom: 30px;
    text-align: center;

}
.mt-enquiry .form-control { background: rgba(255,255,255,0.2); border: none; border-radius: 0; color: #fff;}
.mt-enquiry  option { background:#5F6C76; }
.guided p { margin: 7px 0 0; color:#aaa;}
.guided p i.fa { padding-right: 10px; }
.tab-content h4 {color: #eee;font-size: 16px; margin-top: 0;}
.mt-pkg p { position: relative; padding-left:40px;}
.mt-pkg p.mt-brand:before, .mt-pkg p.mt-specification:before,  .mt-pkg p.mt-time:before,  .mt-pkg p.mt-included:before {  position: absolute; background: url(../images/sprite.png) no-repeat; background-position: 0 0px;content: '';width: 32px;height: 24px;left: 0;
top: 6px;}
.mt-pkg p.mt-specification:before { background-position: 0 -24px; }
.mt-pkg p.mt-time:before { background-position: 0 -48px; }
.mt-pkg p.mt-included:before { background-position: 0 -72px; }
.mt-pkg p { position: relative; padding-left: 40px; font-size:16px;line-height: 24px; text-align: left; margin-top: 10px; color:#ccc; }
.mt-pkg .price { font-size: 13px; font-weight: 300;}
.price span { color: #93BD3C;  font-size: 26px;}
.main-heading h2{ font-weight: bold; line-height: 40px;  text-transform: capitalize;  color:#fff;}
.mt-enquiry form { margin-top: 15px; }
.mt-enquiry h3 { color:#fff; }
.mt-enquiry #contact_submit { width: 100%; background:#029E73; color: #fff; border-radius: 0;}
.gallery{
  margin-top: 50px;
  text-align: center;
}
.gallery > img {  opacity: 0.8; display: inline-block;}
.reg-content figure {
  
    float: left;
  
}


/** contact-us css **/
.inner-banner.inv{
    background: rgba(0, 0, 0, 0) url("../images/bg-mountains.jpg") no-repeat fixed center top / cover ;
    padding-bottom: 200px;
}
.inv .main-heading h1 {
    color: #333 !important;
}
.slogan {
    font-size: 18px;
}
#contact_form > h3 {
    margin-left: 15px;
    margin-bottom:20px;
    font-size: 22px;
}
.contact-box .col-md-7 {
    padding-right: 0;
}
.contact-box .col-md-3 {
    padding-left: 0;
}
form#contact_form {
    background: rgba(255,255,255,0.8);
    overflow: hidden;
    padding: 40px;
}
.contact-details {
    background: rgba(42,69,93,0.8);
    padding: 40px 25px;
    color:#fff;
    min-height: 373px;
}
#contact_form .form-control {
   border:0;
   border-radius: 0;
    border-bottom: 2px solid #eee;
        box-shadow: none;
    color: #333 !important;
    font-weight: 700;
    margin: 0 0 10px;
    margin-top:-5px;
    padding: 0 !important;
    background: transparent;
}
#contact_form .form-control input{
  height: 30px;
}
input:focus, textarea:focus{
   border-color:#029E73 !important;
}
.contact-details h3{
  margin-bottom:20px;
  font-size: 22px;
  color:#fff;
}
.text-holder{
  position: relative;
  padding-left: 25px;

}
.text-holder i.fa {
   left: 0;
    margin-top: 5px;
    padding-right: 10px;
    position: absolute;
    color:#fff;
}
.mid_detail {
    background: #141519 none repeat scroll 0 0;
    padding: 20px 1px;
}
label {
    color: #b2b1b1;
    font-size: 13px;
    margin-bottom: 0;
}
textarea{
  resize: none;
      width: 85% !important;
}
#contact_form button {
    background:#029E73;
    border: medium none;
    border-radius: 50%;
    float: right;
    font-size: 23px;
    height: 50px;
    width: 50px;
    color:#fff;
    margin-top:-40px;
}
#contact_form button:hover {
    color:#029E73;
    background:#fff;
}

/** gallery **/


.inner-banner.gal{ background: rgba(0, 0, 0, 0) url("../images/intro-bg.jpg") no-repeat fixed center top / cover ; padding-bottom: 160px;}
#lightbox .modal-content {display: inline-block;text-align: center;   overflow: none; }
#lightbox .close { opacity: 1; color: rgb(255, 255, 255); background-color: rgb(25, 25, 25); padding: 5px 8px;  border-radius: 30px;
      position: absolute; top: 40px; right: -40px;  z-index:1032;}
.gallery-panel .thumbnail{
  background: #000!important;
  border: 1px solid rgba(255,255,255,0.4);
  margin-bottom:40px;
  overflow:hidden;
  border-radius: 0;
}

.gallery-panel .modal-body {
    padding: 0;
    position: relative;
   
}
.gallery-panel .modal-content{
   margin-top: 50px;

}
 .gallery-panel .modal{
  overflow-y:hidden !important;
  overflow-x:hidden !important;
}
.thumbnail > img {
   height: 220px; object-fit: cover;
    backface-visibility: hidden;
    max-width: calc(100% + 10px) !important;
    transform: translate3d(-25px, 0px, 0px) scale(1.12);
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    width: calc(100% + 10px) !important;
      background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 3%, rgba(0, 0, 0, 0.6) 100%);
background-color: #000;
}
.thumbnail > img:hover{
    transform: translate3d(0px, 0px, 0px) scale(1);
    
    opacity: 0.4;
}
.footer-logo {
    margin-top: -170px;
}

/** events page **/
 .mt-event-thumnail {
    width: 30%;
    float: left;
    padding-top: 4px;
    padding-right: 20px;
}
.mt-event-content {
    width: 70%;
    float: right;
}
  .mt-content.mt-events {
    display: block;
    clear: both;
    margin-bottom: 30px;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 30px;
}   
  .mt-content.mt-events:last-child{ margin-bottom: 0; padding-bottom: 0; border-bottom: 0; }           
                
.mt-event-heading {
    font-size: 20px;
    color: #ddd;
    font-weight: bold;
    display: block;
    margin-top: 15px;
}
.mt-event-thumnail img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}
.mt-event-thumnail-detail img {
    width: 100%;
    height: 450px;
    overflow: hidden;
    object-fit: cover;
}
.mt-content.event {
    margin-top: 30px;
}
.mt-content.event h2 {
    margin-bottom: 30px;
}

/** home page 3 icons section **/
#intro-icons {
    background: #202930;
    padding: 80px 0;
}
#intro-icons .container {
  padding: 0 120px;
}
.ft-section {
  text-align: center;
  padding: 0 15px;
}
.ft-section  img {
  margin: 0 auto;
  opacity: 0.5;
}
.ft-section h4 {
    color: #aaa;
    font-size: 16px;
    line-height: 26px;
    margin-top: 15px;
}
.sub-menu {
    display: none;
    position: absolute;
    top:100%;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    background: #fff;
    border-radius: 4px;
    padding: 20px 0;
}
.sub-menu li{ display: block;  width: 100%; float:none;}
.nav li:hover > .sub-menu {
  display: block;
}
.nav .sub-menu li a:hover{ background: none !important; }
.mtb1{
  background: url(../images/mtb1-banner.jpg) no-repeat fixed center center / cover; 
}
.inner-main-title{
  padding: 350px 0 80px;
  font-size: 56px;
}
#overview-section {
  background: #202930;
  padding: 120px 0;
}
#overview-section .mt-offer {
  background: #F44336;
  position: relative;
  top:-150px;
  text-align: center;
  width: 150px;
  float: right;
  padding:20px;
}
#overview-section .mt-offer p {
    color: #333;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 0 !important;
}
#overview-section .mt-offer .mt-currency {
    padding: 0;
    margin: 0 !important;
    color: #fff;
    opacity: 0.8;
    font-style: normal;
}
.mt-price {
    color: #fff;
    font-size: 39px;
    font-weight: bold;
    letter-spacing: -1px;
}
.mt-1 {
   background: url(../images/mtb1-mid-banner.jpg) no-repeat fixed center center / cover; 
   height: 600px;
}
.mt-2 {
   background: url(../images/mtb1-mid-banner2.jpg) no-repeat fixed top center / cover; 
   height: 600px;
}
.mt-3 {
   background: url(../images/mtb1-mid-banner3.jpg) no-repeat fixed top center / cover; 
   height: 600px;
}
.mtb-content p {
    font-size: 16px;

font-weight: 300;

color: #ccc;

line-height: 30px;
}
.mtb-content h2 {
    font-size: 32px;
}
.overview-detail li {
    width: 18%;
    float: left;
    margin-right: 20px;
    padding-left: 45px;

}
.overview-detail p { font-size: 14px; color: #029E73; position: relative; }
.overview-detail p span {
    font-weight: 700;
    display: block;
    font-size: 16px;
    color: #ccc;

}

.overview-detail p.mt-time::before, .overview-detail p.mt-group::before, .overview-detail p.mt-difficulty::before{
    position: absolute;
    background: url(../images/sprite.png) no-repeat;
    background-position: 0 0px;
    content: '';
    width: 32px;
    height: 24px;
    left: -45px;
    top: 6px;
}
.overview-detail p.mt-group::before {
  background-position: 0 -121px;
}
.overview-detail p.mt-time::before {
  background-position:0 -97px;
  }
 .mtb-content .nav li { width: auto; margin-right: 30px; }
   .nav-pills > li a { padding: 0; color:#666; }
  }
  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li > a:hover, .nav-pills > li.active > a:focus { background: transparent; }
  .mtb-content .tab-content h4 {
    color: #eee;
    font-size: 22px;
    margin-top: 0;
    font-weight: 300;
}
.mt-table { color:#fff; max-width: 270px; margin-bottom: 30px; border: 1px solid #666; }
.mt-table td {
    padding: 8px 20px !important;
    border: none;
    }
    .mt-table tr, .mt-table td {
      border: none !important;
      color: rgba(255,255,255,0.8) !important;
    } 

  .mt-table .font-header.uppercase {


    border-bottom: 1px solid rgba(255,255,255,0.3) !important;

}
.tab-content.col-md-9.mt-info {
    padding: 0 0px 0 40px;
}
.cmt-trip {
    background: rgba(255,255,255,0.2);
    padding: 30px;
}
.cmt-trip p{ color: #ccc; }
.sub-title{ font-size: 20px; margin-bottom: 10px; }