/*

- - - - - - - - - - - - - - - - - - -

Headliner Tumblr Theme CSS by Precrafted

- - - - - - - - - - - - - - - - - - -

*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong,
b,
mark {
  font-weight: 700;
  font-style: inherit;
}
em,
i,
cite,
q,
address,
dfn,
var {
  font-style: italic;
  font-weight: inherit;
}
abbr[title],
dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
ins {
  border-bottom: 1px solid;
}
a,
u,
ins {
  text-decoration: none;
}
del,
s {
  text-decoration: line-through;
}
pre,
code,
samp,
kbd {
  font-family: monospace;
}
small {
  font-size: 0.75em;
}
img {
  border: 0;
  font-style: italic;
}
input,
select,
option,
optgroup,
textarea {
  font: inherit;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls],
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  text-rendering: optimizeLegibility;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
img,
object,
embed {
  max-width: 100%;
  height: auto;
}
@-webkit-keyframes logo-hover {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes logo-hover {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes logo-hover {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes logo-hover {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes logo-hover {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

body {

  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #7a7e80;

  margin: 0 auto;
}
@media only screen and (min-width: 1024px) {
  body.permalink {
    font-size: 17px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 768px) {
  html,
  body {
    height: 100%;
  }
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  color: #22313f;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  color: #22313f;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover {
  color: #65c6bb;
}
h2 {
  font-size: 30px;
}
@media only screen and (min-width: 1024px) {
  .permalink h2 {
    font-size: 40px;
  }
}
h3 {
  font-size: 17px;
}
a {
  text-decoration: none;
  color: #65c6bb;
  -webkit-transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  transition: all 0.14s ease-in-out;
}
a:hover {
  color: #22313f;
}
p {
  margin-top: 18px;
}
strong {
  font-weight: 700;
}
.header-image-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header-image img {
  visibility: hidden;
}
.header-image .header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #22313f;
  opacity: 0.8;
}
.header {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  padding: 25px 20px 0;
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 45px 40px 0;
  }
}
@media only screen and (min-width: 1220px) {
  .header {
    padding: 80px 80px 0;
  }
}
.header .header-content {
  float: left;
  clear: both;
  width: 100%;
  padding: 0 5px;
}
.header .logo-image {
  float: left;
}
.header .title {
  float: left;
}
.header .title:hover .avatar-image {
  -webkit-animation: logo-hover 0.4s 0 1 ease-in-out;
  -moz-animation: logo-hover 0.4s 0 1 ease-in-out;
  -ms-animation: logo-hover 0.4s 0 1 ease-in-out;
}
.header .avatar-image {
  float: left;
  width: 64px;
  height: 64px;
  margin-right: 10px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.header .avatar-image.circle {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
}
.header .avatar-image img {
  float: left;
}
.header .blog-title {
  float: left;
}
.header .blog-title h1 {
  display: block;
  margin: 0;
  font-size: 20px;
  line-height: 64px;
  text-transform: none;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .header .blog-title h1 {
    font-size: 30px;
  }
}
.menu-toggle {
  float: right;
  line-height: 64px;
  color: #ffffff ;
  opacity: 0.6;
  font-size: 15px;
  }
.menu-toggle .menu-toggle-text {
  display: none;
}
@media only screen and (min-width: 768px) {
  .menu-toggle {
    cursor: pointer;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
  }
  .menu-toggle:hover {
    opacity: 1;
  }
  .menu-toggle .menu-toggle-text {
    display: inline-block;
  }
}
.menu-toggle .menu-toggle-hamburger {
  display: inline-block;
  position: relative;
  margin: 0 2px -4px 0;
  width: 24px;
  height: 20px;
}
.menu-toggle .menu-toggle-hamburger span,
.menu-toggle .menu-toggle-hamburger span:before,
.menu-toggle .menu-toggle-hamburger span:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #fff;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.menu-toggle .menu-toggle-hamburger span:before {
  top: -8px;
}
.menu-toggle .menu-toggle-hamburger span:after {
  top: 8px;
}
.menu-toggle.on {
  opacity: 1;
}
.menu-toggle.on .menu-toggle-hamburger span {
  background-color: transparent;
}
.menu-toggle.on .menu-toggle-hamburger span:before,
.menu-toggle.on .menu-toggle-hamburger span:after {
  top: 0;
}
.menu-toggle.on .menu-toggle-hamburger span:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu-toggle.on .menu-toggle-hamburger span:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu-wrap {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  visibility: hidden;
}
.menu-wrap.on {
  visibility: visible;
}
.menu-wrap.on .menu {
  opacity: 1;
  visibility: visible;
}
@media only screen and (min-width: 768px) {
  .menu-wrap.on .menu-overlay {
    opacity: 0.4;
  }
  .menu-wrap.on .menu-overlay:hover {
    opacity: 0.2;
  }
  .menu-wrap.on .menu {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
.menu-overlay {
  display: none;
  background: #22313f;
}
@media only screen and (min-width: 768px) {
  .menu-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
.menu {
  position: absolute;
  z-index: 110;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background: #65c6bb;
  padding: 20px 25px 30px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media only screen and (min-width: 768px) {
  .menu {
    left: auto;
    width: 320px;
    padding: 0 30px 30px;
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
    opacity: 1;
    visibility: visible;
  }
}
.menu .menu-toggle {
  position: absolute;
  top: 46px;
  right: 25px;
  height: 40px;
  line-height: 1;
  opacity: 0.6;
}
@media only screen and (min-width: 768px) {
  .menu .menu-toggle {
    top: 26px;
    right: 18px;
  }
}
.menu .menu-toggle:hover {
  opacity: 1;
}
.menu h4 {
  margin-top: 30px;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.6;
}
.main-menu {
  position: relative;
  list-style: none;
  margin: 10px -12px 0;
}
.main-menu li {
  display: block;
}
.main-menu li a {
  display: block;
  padding: 12px;
  font-size: 15px;
  line-height: 1;
  font-weight: 400;
  color: #ffffff;
}
.main-menu li a:hover {
  background: rgba(255, 255, 255, 0.2);
}
.main-menu .menu-tags {
  display: none;
}
.social-menu {
  position: relative;
  width: 100%;
  margin-top: 10px;
  list-style: none;
}
.social-menu.circle li a {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.social-menu li {
  margin-top: 10px;
  display: inline-block;
  width: 36px;
}
.social-menu li a {
  display: block;
  width: 34px;
  padding: 10px 7px;
  font-size: 14px;
  line-height: 1;
  background: #ffffff;
  color: #b6821d;
  opacity: 0.8;
}
.social-menu li a:hover {
  opacity: 1;
}
.social-menu li a .social-ebay {
  margin-left: -6px;
}
.social-menu li a .social-gmail {
  margin-left: -3px;
  font-size: 13px;
}
.social-menu li a .social-vimeo {
  margin-left: -3px;
}
.social-menu li a .social-weibo {
  margin-left: -1px;
}
.social-menu li a .social-medium {
  font-size: 12px;
}
.social-menu li a .social-tweets,
.social-menu li a .social-vimeo {
  font-size: 13px;
}
.search {
  margin: 10px -12px 0;
}
.search input {
  display: block;
  width: 100%;
  padding: 10px 12px;
  font-size: 15px;
  line-height: 1.3;
  border: 0;
  background: 0;
  color: #ffffff;
  -webkit-transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  transition: all 0.14s ease-in-out;
}
.search input:focus {
  outline: 0;
  background: rgba(255, 255, 255, 0.2);
}
.search ::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.6;
}
.search :-moz-placeholder {
  color: #ffffff;
  opacity: 0.6;
}
.search ::-moz-placeholder {
  color: #ffffff;
  opacity: 0.6;
}
.search :-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.6;
}
.post-nav {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .post-nav {
    display: block;
    float: right;
    margin: 14px 50px 0 0;
  }
}
.post-nav .label {
  display: inline-block;
  color: #ffffff;
  font-size: 13px;
  opacity: 0.6;
  margin-right: 10px;
}
.post-nav a {
  display: inline-block;
  text-align: center;
  padding: 10px 3px 10px;
  font-size: 15px;
  line-height: 1;
  color: #ffffff;
  opacity: 0.6;
}
.post-nav a:hover {
  opacity: 1;
}
.footer {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  padding: 20px 25px;
}
@media only screen and (min-width: 1024px) {
  .footer {
    padding: 40px 5px;
  }
}
.footer .scroll-top {
  display: none;
}
@media only screen and (min-width: 1220px) {
  .footer .scroll-top {
    display: block;
    position: absolute;
    top: 28px;
    left: 50%;
    width: 40px;
    margin-left: -20px;
    padding: 6px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    opacity: 0.6;
    -webkit-transition: all 0.14s ease-in-out;
    -moz-transition: all 0.14s ease-in-out;
    -o-transition: all 0.14s ease-in-out;
    transition: all 0.14s ease-in-out;
  }
  .footer .scroll-top:hover {
    opacity: 1;
  }
}
.footer span {
  opacity: 0.6;
}
.footer span,
.footer .credit {
  display: block;
  line-height: 2;
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
}
@media only screen and (min-width: 1024px) {
  .footer span,
  .footer .credit {
    line-height: 1;
  }
}
.footer .credit a {
  color: #ffffff;
  opacity: 0.6;
}
.footer .credit a:hover {
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .footer {
    text-align: left;
  }
  .footer span {
    float: left;
    margin-right: 18px;
  }
  .footer .credit {
    float: right;
  }
}
.type_pagination {
  width: 100%;
  clear: both;
  -webkit-transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  transition: all 0.14s ease-in-out;
}
.type_pagination .article-content {
  padding: 20px 0;
}
@media only screen and (min-width: 768px) {
  .type_pagination .article-content {
    padding: 40px 0;
  }
}
.type_pagination .pagination a {
  width: 50%;
  display: block;
  font-size: 13px;
  text-align: center;
  padding: 20px;
  background: #ffffff;
}
@media only screen and (min-width: 768px) {
  .type_pagination .pagination a {
    font-size: 17px;
    padding: 30px;
  }
  .type_pagination .pagination a i {
    font-size: 15px;
  }
}
.type_pagination .pagination a.prev {
  float: left;
}
.type_pagination .pagination a.next {
  float: right;
}
.type_pagination .load-more {
  display: block;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .type_pagination .load-more {
    font-size: 17px;
  }
}
.type_pagination .load-more .load-more-loading,
.type_pagination .load-more .load-more-end {
  display: none;
}
.type_pagination #infscr-loading {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -11px;
}
@media only screen and (min-width: 768px) {
  .type_pagination #infscr-loading {
    margin-top: -14px;
  }
}
.type_pagination #infscr-loading img {
  display: none;
}
.type_pagination.pagination_standard .article-content {
  padding: 0;
}
.type_pagination.pagination_standard .load-more {
  display: none;
}
.type_pagination.pagination_load-more {
  cursor: pointer;
  display: none;
}
.type_pagination.pagination_load-more.next {
  display: block;
}
.type_pagination.pagination_load-more.next.hidden {
  display: none;
}
.type_pagination.pagination_load-more .article-content {
  -webkit-transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  transition: all 0.14s ease-in-out;
  color: #65c6bb;
}
.type_pagination.pagination_load-more .article-content:hover {
  background: #65c6bb;
  color: #ffffff;
}
.type_pagination.pagination_load-more .pagination {
  display: none;
}
.type_pagination.pagination_load-more.loading .load-more-text {
  color: transparent;
}
.type_pagination.pagination_load-more.loading .article-content {
  background: #65c6bb;
  color: #ffffff;
}
.type_pagination.pagination_infinite-scroll .article-content {
  color: #65c6bb;
}
.type_pagination.pagination_infinite-scroll .load-more-text,
.type_pagination.pagination_infinite-scroll .pagination {
  display: none;
}
.type_pagination.off {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.14s ease-in-out 2s;
  -moz-transition: all 0.14s ease-in-out 2s;
  -o-transition: all 0.14s ease-in-out 2s;
  transition: all 0.14s ease-in-out 2s;
}
.type_pagination.hidden {
  display: none;
}
.the-posts {
  float: left;
  clear: both;
  width: 100%;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .the-posts {
    padding: 0 40px 0;
  }
}
@media only screen and (min-width: 1220px) {
  .the-posts {
    padding: 0 80px 0;
  }
}
.permalink .the-posts {
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .permalink .the-posts {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 1220px) {
  .permalink .the-posts {
    margin-top: 80px;
  }
}
.posts-holder {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  margin: 0 auto;
}
.index .posts-holder {
  opacity: 0;
  -webkit-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.index .posts-holder.on {
  opacity: 1;
}
.index .posts-holder.typist {
  -webkit-transform: translate(0, 40px);
  -moz-transform: translate(0, 40px);
  -o-transform: translate(0, 40px);
  -ms-transform: translate(0, 40px);
  transform: translate(0, 40px);
}
.index .posts-holder.typist.on {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.index.tagged .posts-holder.typist,
.index.search .posts-holder.typist {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.sticky-loader {
  display: none;
}
article,
.grid-sizer {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  article,
  .grid-sizer {
    clear: none;
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  article,
  .grid-sizer {
    width: 33.33%;
  }
  article.double_size,
  .grid-sizer.double_size {
    width: 66.6%;
  }
}
@media only screen and (min-width: 1480px) {
  article,
  .grid-sizer {
    width: 25%;
  }
  article.double_size,
  .grid-sizer.double_size {
    width: 50%;
  }
}
.permalink article,
.permalink .grid-sizer {
  width: 100%;
}
article {
  padding: 5px 5px 0;
}
@media only screen and (min-width: 768px) {
  article {
    padding: 10px 5px 0;
  }
}
article a {
  font-weight: 700;
}
article .caption {
  margin-top: 20px;
}
article ol,
article ul {
  margin: 10px 0 0 20px;
  list-style-position: inside;
}
article blockquote {
  padding: 5px 0 5px 12px;
  margin-top: 18px;
  border-left: 2px solid #f0f4f5;
}
article blockquote p {
  margin-top: 0 !important;
}
article blockquote img {
  width: auto;
}
.article-content {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  background: #ffffff;
  padding: 20px;
}
@media only screen and (min-width: 768px) {
  .article-content {
    padding: 30px;
  }
  .permalink .article-content {
    padding: 75px;
  }
}
.article-content img {
  width: 100%;
  height: auto;
}
article.type_description {
  padding: 0 5px;
  width: 100%;
  clear: both;
}
article.type_description .article-content {
  background: 0;
  padding: 20px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: bold;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  article.type_description .article-content {
    font-size: 40px;
    padding: 80px 0;
  }
}
@media only screen and (min-width: 1220px) {
  article.type_description .article-content {
    padding: 100px 0;
  }
}
.description-wrap {
  position: relative;
}
.description-wrap .description-typist {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.description-wrap.typist .description-regular {
  visibility: hidden;
}
article.type_text embed,
article.type_text iframe,
article.type_text object,
article.type_text video {
  max-width: 100%;
}
.text-post-wrap p:first-of-type {
  margin-top: 0;
}
.text-post-wrap h2 {
  margin-bottom: 20px;
}
article.type_photo .photo-wrap {
  overflow: hidden;
}
article.type_photo .photo-wrap .photo--post,
article.type_photo .photo-wrap .photo--image,
article.type_photo .photo-wrap .photo--lightbox,
article.type_photo .photo-wrap .photo--none {
  display: none;
}
article.type_photo .photo-wrap.post .photo--post {
  display: block;
}
article.type_photo .photo-wrap.image .photo--image {
  display: block;
}
article.type_photo .photo-wrap.lightbox .photo--lightbox {
  display: block;
}
article.type_photo .photo-wrap.none .photo--none {
  display: block;
}
article.type_photo .photoset-wrap img {
  display: none;
}
article.type_photo .photoset-wrap img:first-child {
  display: block;
}
article.type_photo .photoset-grid.none .photoset-cell {
  pointer-events: none;
}
article.type_video .video-container {
  height: 0;
  position: relative;
  overflow: hidden;
  opacity: 0;
}
article.type_video .video-container.ready {
  opacity: 1;
}
article.type_video .video-container embed,
article.type_video .video-container iframe,
article.type_video .video-container object,
article.type_video .video-container video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  position: absolute;
}
article.type_audio .audio-embed {
  position: relative;
  width: 100%;
  overflow: hidden;
}
article.type_audio .audio-embed iframe {
  position: relative;
  display: block;
  width: 100%;
}
article.type_audio .soundcloud_audio_player {
  max-width: 500px;
}
article.type_audio h2 {
  margin: 18px 0 -10px;
}
article.type_quote .quote {
  line-height: 1.4;
  color: #22313f;
}
article.type_quote .quote.short {
  font-size: 35px;
  line-height: 1.2;
}
article.type_quote .quote.medium {
  font-size: 25px;
}
article.type_quote .quote.long {
  font-size: 20px;
}
@media only screen and (min-width: 768px) {
  .permalink article.type_quote .quote.short {
    font-size: 50px;
  }
  .permalink article.type_quote .quote.medium {
    font-size: 35px;
  }
  .permalink article.type_quote .quote.long {
    font-size: 25px;
  }
}
article.type_quote .quote-author {
  margin-top: 10px;
}
article.type_answer .answer-post-wrap {
  margin: 20px auto 0;
}
@media only screen and (min-width: 768px) {
  article.type_answer .answer-post-wrap {
    margin-top: 0;
  }
}
article.type_answer hr {
  clear: both;
  width: 100%;
  height: 2px;
  border: 0;
  margin: 0 0 20px;
  background: #f0f4f5;
}
article.type_answer .answer-person {
  margin-top: 12px;
  color: #22313f;
}
article.type_answer .answer-person a {
  font-weight: 400;
}
article.type_answer .answer-image {
  display: inline-block;
  margin: 0 8px -18px 0;
}
article.type_answer .answer-image img {
  width: auto;
}
article.type_answer .answer-image.circle img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
article.type_answer .answer-person {
  display: inline-block;
  font-weight: 400;
}
article.type_answer .answer-text {
  clear: both;
  padding: 0 0 14px;
}
article.type_answer .answer-text.question {
  color: #22313f;
  margin-top: 10px;
  padding: 14px 0;
}
article.type_chat .line {
  border-top: 2px solid #f0f4f5;
  padding: 12px 0;
}
article.type_link .caption {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 10px;
}
article.type_link .the-link {
  float: left;
  clear: both;
  width: 100%;
  padding: 30px;
  font-size: 25px;
  background: #65c6bb;
  color: #ffffff;
}
article.type_link .the-link:hover {
  background: #22313f;
}
article.type_link .the-link img {
  max-width: 128px;
  margin-bottom: 20px;
}
article.type_link .the-link .the-link-text i {
  font-size: 19px;
}
article.type_link .the-link .the-link-text .social-right:before {
  display: inline;
}
article.type_link .the-link .the-link-text span {
  display: block;
  opacity: 0.7;
  font-size: 13px;
  font-weight: 400;
  text-transform: none;
  margin-top: 10px;
  word-break: break-all;
}
.icons {
  width: auto;
  display: inline-block;
  list-style-type: none;
  line-height: 1;
}
.icons li {
  float: left;
  -webkit-transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  transition: all 0.14s ease-in-out;
  opacity: 0.5;
}
.icons li:hover {
  opacity: 1;
}
.icons li > a,
.icons li .like_button,
.icons li .reblog-icon {
  float: left;
  width: 30px;
  height: 30px;
  padding-top: 4px;
  font-size: 18px;
  text-align: center;
  color: #000000;
  cursor: pointer;
}
.icons li.link a {
  font-size: 20px;
}
.icons li .like_button {
  padding: 6px 0 0 0;
}
.icons li .reblog-icon {
  padding: 6px 0 0 7px;
}
.icons li.sharer {
  position: relative;
  z-index: 10;
}
.icons li.sharer .social-export {
  padding-top: 5px;
}
.icons li.sharer .sharer-wrap {
  position: absolute;
  text-align: center;
  bottom: 100%;
  width: 150px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  transition: all 0.14s ease-in-out;
}
.icons li.sharer:hover .sharer-wrap {
  visibility: visible;
  opacity: 1;
}
.icons li.sharer:hover .sharer-wrap ul {
  -webkit-transform: translate(0, -8px);
  -moz-transform: translate(0, -8px);
  -o-transform: translate(0, -8px);
  -ms-transform: translate(0, -8px);
  transform: translate(0, -8px);
}
.icons li.sharer ul {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 5px 8px;
  list-style: none;
  z-index: 10;
  background: #ffffff;
  border: 2px solid #f0f4f5;
  -webkit-transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  transition: all 0.14s ease-in-out;
}
.icons li.sharer ul:after,
.icons li.sharer ul:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.icons li.sharer ul:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 8px;
  margin-left: -8px;
}
.icons li.sharer ul:before {
  border-color: rgba(240, 244, 245, 0);
  border-top-color: #f0f4f5;
  border-width: 11px;
  margin-left: -11px;
}
.icons li.sharer ul li a {
  width: 32px;
  height: 35px;
  padding-top: 9px;
}
.icons li.sharer ul li a.social-tweets {
  padding-top: 10px;
  font-size: 15px;
}
.icons li.sharer ul li a.social-facebook {
  font-size: 16px;
}
.icons li.sharer ul li a.social-gplus {
  font-size: 16px;
}
.icons li.sharer ul li a.social-pinterest {
  padding-top: 9px;
  font-size: 17px;
}
.icons.white li > a,
.icons.white li .like_button,
.icons.white li .reblog-icon {
  color: #ffffff;
}
.post-footer {
  float: left;
  clear: both;
  width: 100%;
  margin: 14px 0 -8px;
  font-size: 11px;
  font-weight: 400;
  height: 30px;
}
@media only screen and (min-width: 768px) {
  .post-footer {
    margin: 20px 0 -10px;
  }
}
.post-footer .icons {
  float: left;
  margin: 0 0 0 -6px;
}
.post-footer .timestamp {
  float: right;
  margin: 2px 0 0;
  color: #7a7e80;
  opacity: 0.6;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .post-footer .timestamp {
    margin: 0;
    font-size: 13px;
  }
}
.post-footer a.timestamp:hover {
  opacity: 1;
}
.post-footer .dsq-comment-count {
  float: right;
  margin: 2px 15px 0 0;
  color: #7a7e80;
  opacity: 0.6;
  font-weight: 700;
}
.post-footer .dsq-comment-count:hover {
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .post-footer .dsq-comment-count {
    margin: 0 15px 0 0;
    font-size: 13px;
  }
}
.post-footer.permalink {
  margin: 20px 0 0 0;
  height: auto;
}
@media only screen and (min-width: 768px) {
  .post-footer.permalink {
    margin: 30px 0 0 0;
  }
}
.post-footer.permalink .post-meta {
  float: left;
  clear: both;
  width: 100%;
}
.post-footer .group-author {
  margin-top: 40px;
  clear: both;
  width: 100%;
}
.post-footer .group-author a img {
  display: inline;
  width: auto;
  margin: 0 8px -11px 0 !important;
}
.post-footer .group-author a img.circle {
  border-radius: 100%;
}
.disqus {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 30px;
}
.disqus img {
  width: auto;
}
.post-notes {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 30px;
}
.post-notes .note-count {
  font-size: 11px;
}
.post-notes ol {
  list-style: none;
  margin: 0;
  clear: both;
  display: inline-block;
}
.post-notes li {
  display: block;
  padding: 7px 0;
  font-size: 11px;
  line-height: 15px;
}
.post-notes .avatar_frame {
  display: inline-block;
  margin-right: 10px;
}
.post-notes img {
  float: left;
  margin-bottom: -4px;
}
.post-notes.circle img {
  border-radius: 100%;
}
.post-notes blockquote {
  margin: 10px 0 10px 30px;
}
.instagram-feed {
  opacity: 0;
  -webkit-transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  transition: all 0.14s ease-in-out;
}
.instagram-feed .instagram-token,
.instagram-feed .instagram-order {
  display: none;
}
.instagram-feed.on {
  opacity: 1;
}
.instagram-feed .instagram-image {
  position: relative;
  float: left;
  width: 33.33%;
}
.instagram-feed .instagram-image .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 20px;
  opacity: 0;
  -webkit-transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  transition: all 0.14s ease-in-out;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.instagram-feed .instagram-image .overlay:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #65c6bb;
  opacity: 0.8;
}
.instagram-feed .instagram-image .overlay .social-instagram {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -14px;
  color: #ffffff;
}
.instagram-feed .instagram-image:hover .overlay {
  opacity: 1;
}
.instagram-feed .article-content a {
  font-weight: 400;
}
.instagram-feed .instagram-link {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  padding: 20px;
  font-weight: 400;
  background: #65c6bb;
  color: #ffffff;
}
.instagram-feed .instagram-link:hover {
  background: #22313f;
}
.index.search article.type_description {
  display: none;
}
.index.search article.type_description.search-intro {
  display: block;
}
.index.search article.instagram-feed {
  display: none;
}
.index.search.no-results .type_pagination {
  display: none;
}
.index.tagged article.type_description {
  display: none;
}
.index.tagged article.type_description.tag-intro {
  display: block;
}
.index.tagged article.type_description.tag-intro .tag:before {
  content: '#';
}
.index.tagged article.instagram-feed {
  display: none;
}
#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}
#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}
#cboxContent {
  position: relative;
}
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#cboxTitle {
  margin: 0;
  font-size: 13px;
  text-align: center;
}
#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
}
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}
#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
#cboxOverlay {
  background: rgba(15, 15, 15, 0.952941);
  opacity: 1 !important;
}
#colorbox {
  outline: 0;
  overflow: visible !important;
}
#cboxContent {
  margin-top: 32px;
  overflow: visible;
}
#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}
#cboxLoadingGraphic {
  background: url(http://static.tumblr.com/e6lc7yi/aU0mm259p/loading.gif) no-repeat center center;
}
#cboxTitle {
  position: absolute;
  bottom: 101%;
  left: 0;
  right: 0;
  color: #ffffff;
  text-shadow: none;
}
#cboxCurrent {
  position: absolute;
  top: -22px;
  right: 205px;
  text-indent: -9999px;
}
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none;
}
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
  outline: 0 !important;
}
#cboxSlideshow,
#cboxPrevious,
#cboxNext,
#cboxClose {
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  background: url(http://static.tumblr.com/fftf9xi/1dslqu1o1/controls.png) no-repeat 0 0;
}
#cboxPrevious,
#cboxNext {
  top: 50%;
  margin-top: -10px;
}
#cboxPrevious {
  background-position: 0px 0px;
  left: -40px;
}
#cboxPrevious.hover {
  background-position: 0px -25px;
}
#cboxNext {
  background-position: -25px 0px;
  right: -40px;
}
#cboxNext.hover {
  background-position: -25px -25px;
}
#cboxClose {
  background-position: -50px 0px;
  right: 50%;
  top: auto;
  bottom: -40px;
  margin-right: -10px;
}
#cboxClose.hover {
  background-position: -50px -25px;
}
.cboxSlideshow_on #cboxPrevious,
.cboxSlideshow_off #cboxPrevious {
  right: 66px;
}
.cboxSlideshow_on #cboxSlideshow {
  background-position: -75px -25px;
  right: 44px;
}
.cboxSlideshow_on #cboxSlideshow.hover {
  background-position: -100px -25px;
}
.cboxSlideshow_off #cboxSlideshow {
  background-position: -100px 0px;
  right: 44px;
}
.cboxSlideshow_off #cboxSlideshow.hover {
  background-position: -75px -25px;
}
.photoset-cell,
.photo--lightbox a {
  outline: 0 !important;
}
.photoset-cell {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
